<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <fa-icon class="padding-5" [icon]="faBraille"></fa-icon>
    <a class="navbar-brand" href="#">Moleskine</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
      <div class="ml-auto d-flex flex-row">
        <ul class="navbar-nav">
          <li class="nav-item padding-5">
            <a class="nav-link" href="#">Stores</a>
        </li>
        <li class="nav-item padding-5">
          <a class="nav-link" href="#">Support</a>
        </li>
        </ul>
        <div class="vertical-line"></div>
        
        <ul class="navbar-nav">
          <li class="nav-item padding-5">
              <a class="nav-link" href="#">
                <fa-icon [icon]="faUserAlt"></fa-icon>
              </a>
          </li>
          <li class="nav-item padding-5">
              <a class="nav-link" href="#">
                <fa-icon [icon]="faSearch"></fa-icon>
              </a>
          </li>
          <li class="nav-item padding-5">
            <a class="nav-link" href="#">
              <fa-icon [icon]="faShoppingBag"></fa-icon>
            </a>         
          </li>
        </ul>
      </div>
    </div>

  </div>
  
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-light no-padding">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
      <div class="d-flex flex-row justify-content-between">
        <ul id="bottom_menu" class="navbar-nav bd-navbar-nav flex-row">
          <li class="nav-item" (click)="current_active_tab_menu = 'planners-menu'">
            <div class="subnav">
              <a class="nav-link subnavbtn" href="#">Planners</a>
            </div>
          </li>
          <li class="nav-item"  (click)="current_active_tab_menu = 'notebooks'">
            <div class="subnav">
              <a class="nav-link subnavbtn" href="#">Notebooks</a>
            </div>
          </li>
          <li class="nav-item" (click)="current_active_tab_menu = 'smart-tools'">
            <div class="subnav">
              <a class="nav-link subnavbtn" href="#">Smart Tools</a>
            </div>
          </li>
          <li class="nav-item" (click)="current_active_tab_menu = 'bags-travel'">
            <div class="subnav">
              <a class="nav-link subnavbtn" href="#">Bags & Travel</a>
              <div class="subnav-content">
              </div>
            </div>
          </li>
          <li class="nav-item" (click)="current_active_tab_menu = 'accessories'">
            <div class="subnav">
              <a class="nav-link subnavbtn" href="#">Accessories</a>
              <div class="subnav-content">
              </div>
            </div>
          </li>
          <li class="nav-item" (click)="current_active_tab_menu = 'gift-ideas'">
            <div class="subnav">
              <a class="nav-link subnavbtn" href="#">Gift Ideas</a>
              <div class="subnav-content">
              </div>
            </div>
          </li>
          <li class="nav-item" (click)="current_active_tab_menu = 'personalize'">
            <div class="subnav">
              <a class="nav-link subnavbtn" href="#">Personalize</a>
              <div class="subnav-content">
              </div>
            </div>
          </li>
          <li class="nav-item" (click)="current_active_tab_menu = 'm-world'">
            <div class="subnav">
              <a class="nav-link subnavbtn" href="#">M World</a>
              <div class="subnav-content">
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

  </div>
</nav>

<div id="planners-menu" class="container" *ngIf="current_active_tab_menu == 'planners-menu'">
  <div class="row">
    <div class="col">
    </div>
    <div class="col">
      <p>NOT IMPLEMENTED YET</p>
    </div>
    <div class="col">
    </div>
    <div class="col">
    </div>
    <div class="col">
    </div>
  </div>
</div>



<div id="notebooks-menu" class="submenu" *ngIf="current_active_tab_menu == 'notebooks'">
  <div class="row" >
    <div class="col">
      <h4>Clasic</h4>
      <p>Classic Collection</p>
      <p>Journails</p>
      <p>Pro Collection</p>
      <p>Art Collection</p>
      <p>Textile</p>
      <p>View All</p>
    </div>
    <div class="vert-line"></div>
    <div class="col">
      <h4>Limited Edition</h4>
      <p>David Bowie</p>
      <p>Harry Poter</p>
      <p>Stiven Harrington</p>
      <p>Dragon Ball</p>
      <p>Lord of The Rings</p>
      <p>Bob Dylan</p>
      <p>View All</p>
    </div>
    <div class="vert-line"></div>
    <div class="col">
      <h3>Themed</h3>
      <p>Travel Notebooks</p>
      <p>Passons</p>
      <p>Pro Collection</p>
      <p>View All</p>
    </div>
    <div class="vert-line"></div>
    <div class="col">
      <h3>Studio</h3>
      <p>The Collection</p>
      <p>Olimpia Zagnoli</p>
      <p>Dinara Mirtalipova</p>
      <p>Jon Koko</p>
      <p>Sonia Alins</p>
      <p>Jellena James</p>
      <p>Yukai Du</p>
      <p>View All</p>
    </div>
    <div class="vert-line"></div>
    <div class="col">
      <img src="assets/images/bowie.jpg" class="img-rounded" alt="David Bowie" width="304" height="236">
    </div>
  </div>
</div>

<div id="planners-menu" class="container" *ngIf="current_active_tab_menu == 'planners-menu'">
  <div class="row">
    <div class="col">
    </div>
    <div class="col">
      <p>NOT IMPLEMENTED YET</p>
    </div>
    <div class="col">
    </div>
    <div class="col">
    </div>
    <div class="col">
    </div>
  </div>
</div>

<div id="smart-tools-menu" class="container" *ngIf="current_active_tab_menu == 'smart-tools'">
  <div class="row">
    <div class="col">
    </div>
    <div class="col">
      <p>NOT IMPLEMENTED YET</p>
    </div>
    <div class="col">
    </div>
    <div class="col">
    </div>
    <div class="col">
    </div>
  </div>
</div>

<div id="bags-travel-menu" class="container" *ngIf="current_active_tab_menu == 'bags-travel'">
  <div class="row">
    <div class="col">
    </div>
    <div class="col">
      <p>NOT IMPLEMENTED YET</p>
    </div>
    <div class="col">
    </div>
    <div class="col">
    </div>
    <div class="col">
    </div>
  </div>
</div>

<div id="accessories-menu" class="container" *ngIf="current_active_tab_menu == 'accessories'">
  <div class="row">
    <div class="col">
    </div>
    <div class="col">
      <p>NOT IMPLEMENTED YET</p>
    </div>
    <div class="col">
    </div>
    <div class="col">
    </div>
    <div class="col">
    </div>
  </div>
</div>

<div id="gift-ideas-menu" class="container" *ngIf="current_active_tab_menu == 'gift-ideas'">
  <div class="row">
    <div class="col">
    </div>
    <div class="col">
      <p>NOT IMPLEMENTED YET</p>
    </div>
    <div class="col">
    </div>
    <div class="col">
    </div>
    <div class="col">
    </div>
  </div>
</div>

<div id="personalize-menu" class="container" *ngIf="current_active_tab_menu == 'personalize'">
  <div class="row">
    <div class="col">
    </div>
    <div class="col">
      <p>NOT IMPLEMENTED YET</p>
    </div>
    <div class="col">
    </div>
    <div class="col">
    </div>
    <div class="col">
    </div>
  </div>
</div>

<div id="m-world-menu" class="container" *ngIf="current_active_tab_menu == 'm-world'">
  <div class="row">
    <div class="col">
    </div>
    <div class="col">
      <p>NOT IMPLEMENTED YET</p>
    </div>
    <div class="col">
    </div>
    <div class="col">
    </div>
    <div class="col">
    </div>
  </div>
</div>
<div class="container-fluid pt-3">
  <router-outlet></router-outlet>
</div>