.padding-5{
    padding: 5px 5px 0px 5px;
}
.vertical-line {
    border-left: 1px solid grey;
    height: 50px;
  }
.navbar {
    border-bottom: 1px solid grey;   
}

#bottom_menu>li>div>a:hover {
    border-bottom: 1px solid green;
    padding-right: 10px;
    padding-bottom: 10x;
}

.no-padding {
    padding: 0;
}

#bottom_menu>li {
    padding-left: 20px;
}

.hide {
    visibility: collapse;
}


/* The subnavigation menu */
.subnav {
    float: left;
    overflow: hidden;
  }
  
  /* Subnav button */
  .subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  /* Style the subnav content - positioned absolute */
  .subnav-content {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 1;
  }
  
  /* Style the subnav links */
  .subnav-content a {
    float: left;
    text-decoration: none;
  }
  
  /* When you move the mouse over the subnav container, open the subnav content */
  .subnav:hover .subnav-content {
    display: block;
  }

  * {
    box-sizing: border-box;
  }
  /* Create four equal columns that floats next to each other */


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.vert-line {
    border-left: 1px solid grey;
    height: 600px;
}

.nav-item>li>{
  padding: 10px;
}

.submenu {
  padding-left: 50px;
  padding-right: 50px;
}

.submenu>.row>.col {
  padding-top: 20px;
}
